<li class="BItem">
	<ul class="BottomBlocks">
		<li>
			<h3>Projects</h3>
		</li>
		<li>
			<a class="NoUnderline" href="/Bot/">Bot</a>
		</li>
		<li>
			<a class="NoUnderline" href="/UserCSS/">UserCSS</a>
		</li>
	</ul>
</li>
<li class="BItem">
	<ul class="BottomBlocks">
		<li>
			<h3>Useful links</h3>
		</li>
		<li>
			<a class="NoUnderline" href="/CSGO">CS: GO Tracking</a>
		</li>
		<li>
			<a class="NoUnderline" href="/ManagementLinks">Management</a>
		</li>
	</ul>
</li>
<li class="BItem">
	<ul class="BottomBlocks">
		<li><h3>Other</h3></li>
		<li><a class="NoUnderline" href="/About">About</a></li>
		<li><a class="NoUnderline" href="/Legal">Legal info</a></li>
		<li>© 0eoc</li>
	</ul>
</li>
